span[lang="en"]{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: Italic;
    margin-bottom: 2em;
}

#chart {
    margin: 2em auto;
    list-style: none;
    padding: 0;
    max-width: 300px;
    position: relative;
    top: 2em;
}

/* #chart li {
	display: block;

} */

#chart .block {
    width: 150px;
    margin-bottom: 7em;
    height: 150px;
    border: 4px solid;
    -webkit-transform: rotate( 45deg );
    -ms-transform: rotate( 45deg );
    transform: rotate( 45deg );
    position: relative;


}

#chart .block-content {
    -webkit-transform: rotate( -45deg );
    -ms-transform: rotate( -45deg );
    transform: rotate( -45deg );
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -1.8em;
}

#chart .next-icon {
    width: 32px;
    height: 32px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAA3NCSVQICAjb4U/g AAAACXBIWXMAAARuAAAEbgHQo7JoAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2Nh cGUub3Jnm+48GgAAAB5QTFRF////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA how4rQAAAAl0Uk5TAAwREiowWMPOLoJhMgAAAEhJREFUKFNjYBhCgCUNDgLAAoyV M6FghgFEiThMoBmqB6YEpgCuBKYApgShAKoEoQCiBFkBWAmyApASVAVAJagKgEoU GIYaAADIMSWmfFk62AAAAABJRU5ErkJggg==') no-repeat 50% 0;
    display: block;
    position: absolute;
    left: 25%;
    margin-left: -16px;

}

#chart .icon-1 {
    top: 195px;
}

#chart .icon-2 {
    top: 460px;
}
