<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>sass- Partial</title>
</head>
<body>
<h1>Sass</h1>
<h2>Partial</h2>
<hr/>
<h3>CSS파일을 분기하고, 다른 CSS파일을 import하기</h3>
CSS파일을 분기하여 관리하고, <code>@import "파일명"</code>의 형태로 활용할 경우 얻는 이점은 다음과 같다.
<ol>
    <li>관리의 용이 : 전체 CSS 파일의 길이가 줄어들고, 가독성도 향상된다.</li>
    <li>모듈화를 통한 효율성 증대 : 자주쓰는 기능이나, 목적별 CSS(예를들면 tooltip등)를 분기하여 필요시 사용가능.</li>
</ol>
<br/>
<code>@import "삽입하려는파일명"</code>
<br/>
<img src="asset/contents/sass/partial/imgs/sass_import1.png" alt="Sass @import 적용예시 1" title="" />
<img src="asset/contents/sass/partial/imgs/sass_import2.png" alt="Sass @import 적용예시 2" title="" />
<img src="asset/contents/sass/partial/imgs/sass_import3.png" alt="Sass @import 적용예시 3" title="" />

</body>
</html>